<div class="row small-up-2 large-up-4 align-center">
  <div class="column column-block">
    <img src="https://cdn.shopify.com/s/files/1/0081/1222/t/76/assets/spotlight-one_2x.jpg?12244350706454966639"alt="">
  </div>
  <div class="column column-block">
    <img src="https://cdn.shopify.com/s/files/1/0081/1222/t/76/assets/spotlight-two_2x.jpg?12244350706454966639"alt="">
  </div>
  <div class="column column-block">
    <img src="https://cdn.shopify.com/s/files/1/0081/1222/t/76/assets/spotlight-three_2x.jpg?12244350706454966639"alt="">
  </div>
  <div class="column column-block">
    <img src="https://cdn.shopify.com/s/files/1/0081/1222/t/76/assets/spotlight-four_2x.jpg?12244350706454966639"alt="">
  </div>
</div>
